@import './../common/styles/global-variables.scss';
  
#pages-container {
  height: calc(100vh - #{$height_navbar});
  overflow: hidden;  
}
  
.section-container {
  height: calc(100vh - #{$height_navbar}); 
  color: white;
}