

// Global Style Variables

// Color palette
$ocean: #4c9cb8;
$lagoon: #66d0e7;
$near-beach: #afe1e3;
$cloud: #F7FCFC;
$sun: #fdeab7;
$sand: #fbf5d7;

// Sizes
$height_navbar: 5rem;
$size_navarrow: 32px;

// Global Style Classes
  
.bold {
  font-weight: 700;  
}