<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="isHandset ? 'dialog' : 'navigation'"
               [mode]="(isHandset | async)!.matches ? 'over' : 'side'">

    <!-- Side Navigation Items Starts Here-->
    <!-- In NG6, routerLink="['/dashboard']" DOESN'T WORK -->
    <mat-nav-list>
      <a mat-list-item
         routerLink="/dashboard"
         (click)="drawer.toggle(); toggle()">Dashboard
      </a>

      <a mat-list-item
         routerLink="/table"
         (click)="drawer.toggle(); toggle()">Table
      </a>
    </mat-nav-list>
    <!-- Side Navigation Items Ends Here-->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>
        <button mat-icon-button
                (click)="drawer.toggle()">
          <mat-icon>
            <div class="navTrigger"
                 [ngClass]="{'active': isNavbarOpen == true, 'colorChange' : isNavbarOpen == true }"
                 (click)="toggle()">
              <i></i>
              <i></i>
              <i></i>
            </div>
          </mat-icon>
        </button>
        Title Goes Here
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>