@import './../../styles/global-variables.scss';

#navbar-container {
  background-color: $cloud;
  height: $height_navbar;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  
  display: block;
  font-weight: 500;
}

.active {
  @extend .bold;
}

button {
  padding: 0;
}